.container {
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.title {
  font-family: cursive;
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 0) and (max-width: 600px) {
  .container {
    .title {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .products {
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 10px;
    }
  }
}
