.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .title {
    font-size: 1.75rem;
    margin-bottom: 24px;
    cursor: pointer;
    font-family: cursive;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 10px;
    }
  }
}
